<!-- <script src="my-script.js"></script> -->
<script type="text/javascript" src="/javascripts/my-script.js"></script>

<div class="footer justify-content-center align-items-center text-center">
    <% if (!currentUser) {%>
    <p class="mr-3"><a href="/register">Sign Up!</a></p>
    <p><a href="/login">Login</a></p>

    <%} else {%>
    <p class="mr-3"><a href="/profile">Profile</a></p>
    <p><a href="/logout">Logout</a></p>
    <%}%>

</div>
</body>

</html>