<%- include("partials/header") %>


    <section id="form">
    <h1>SWOLE</h1>
    <h3>Enter your weight: </h3>
    <form>

    <div id="form-field">
        <input id="rounded-corner" type="number" id="weight" name="weight" placeholder="lbs"><br>
    </div>
    <div>
      <p>I am a:</p>
      <div class="toggle">
        <input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
        <label for="sizeWeight">Sitter</label>
        <input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
        <label for="sizeDimensions">Walker</label>
        <input type="radio" name="sizeBy" value="dimensions" id="sizeDimension" />
        <label for="sizeDimension">Runner</label>
      </div>
        <br>
    </div>
        <input type="submit" value="Submit">
    </form>
</section>

<%- include("partials/footer") %>
