<%- include("partials/header") %>

<section id="form">



  <h1>SWOLE</h1>
  <form class="" action="/login" method="post">
    <div id="form-field">
        <!-- <label for="username">Username:</label><br> -->
        <input id="rounded-corner" type="text" name="username" placeholder="username">
    </div>
    <div id="form-field">
        <!-- <label for="password">Password:</label><br> -->
        <input id="rounded-corner" type="password" name="password" placeholder="password">
    </div>

    <button>Sign In</button><br>
    <a href="/register">Sign Up!</a>
  </form>


</section>


<%- include("partials/footer") %>
