<% include partials/header %>
<section id="form">
  <h1>NoSalad</h1>
  <form action="action_page.php" method="post">

    <div id="form-field">
      <label for="uname"><b>Username</b></label><br>
      <input id="rounded-corner" type="text" id="fname" name="fname" required><br>
    </div>

    <div id="form-field">
      <label for="psw"><b>Password</b></label><br>
      <input id="rounded-corner" type="text" id="fname" name="fname" required><br>
    </div>

    <div id="form-field">
      <button type="submit">Sign In</button>
      <button type="submit">Sign Up</button>
    </div>

  </form>
</section>
<% include partials/footer %>
